/* STILL A DRAFT. Tested so far only on chrome!*/


/*Global Styles 
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: #00fff2;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background-color: #314046;
}
main{
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding-top: 60px;
}
.qna ul:last-of-type {
	margin-bottom:10px;
}
.qna ul{
	/*border-top:2px solid black;
	background-color: none;/*gray;*/
	color: white;
	list-style-type:none;
	overflow:hidden;
	margin:1px;
	padding-left:1em;
}
.qna ul li:last-of-type{
	padding:0 0 0 30px;
}
.qna ul li:first-of-type{
	background-color: black;
	display: inline-block;
	width:100%;
}
.disappear{
	display:none;
}
h1 {
	font-size: 100px;
	line-height: 1;
	display:flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
h2 {
	font-size: 45px;
}
h3 {
	font-size:35px;
	margin:0;
}
h1, h2, h3 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
	word-wrap:break-word;
}
p {
	font-size: 15px;
	padding: 0px 10px;
	background-color: #1b2b01;
	color:#FFEB3B;
}
/* OLD and NEW stuff */
.stuff{
	display:flex;
	justify-content:center;
}
.cards {
	height: 200px;
	display: inline-block;
	background-color: #1fa1a9;
	color: white;
	border: 2px solid #191818;
	width: 100%;
	float:none;
	margin: 8px;
}
img {
    width: 100%;
    object-fit:fill;
	align-items:center;
	/*filter: drop-shadow(0 0 2px #c6f15c);*/
}
.newStuff,.oldStuff{
	overflow:hidden;
}
a:hover img{
	border:2px solid white;
	display:flex;
	position:relative;/*absolute*/
	width:auto;
	height:auto;
	/*filter: blur(2px);*/
}
.cards p{
	display:none;
}
.cards a{
	text-decoration:blink;
}
a:hover p{
	display: flex;
	font-size:14px;
	color:yellow;
	background:red;
	justify-content:center;
	align-items:center;
}

/*Contact Info 
-------------------*/
footer {
	background: #253237;
	padding:1px;
	margin:0;
}
.contact-list {
	list-style-type: none;
	padding: 0;
}
.contact-list a {
	padding: 0px 15px;
	color:#eae9e6;
	/*display: inline-block;*/
}

/* Responsive 
--------------------*/
@media screen and (min-width:767px){
	header, footer {
		text-align: center;
	}
	
	.contact-list {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width:768px){
	h1 {
		font-size: 75px;
		line-height: 0.9;
		margin-bottom: 20px;
	}
	h2 {
		line-height: 1;
	}
    .stuff{
    	display:block;
    	width:auto;
    	justify-content:center;
    	align-items: center;
    }
    .cards {
		display: inline-block;
		width: 97%;
		background:none;
	}
	img {
		width:120%;
		object-fit:cover;
	}
	.contact-list a {
		padding: 5px;
	}
} 
/*@media screen and (min-width:769px) and (max-width:995px){
	.cards {
		display: inline-block;
		width: 47%;
		float:left;
		margin: 8px;
    }
} */
