/* STILL A DRAFT. Tested so far only on chrome!*/


/*Global Styles 
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	color: #00fff2;
	margin: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background-color: #314046;
}

h1 {
	font-size: 100px;
	line-height: 1;
	display:flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
h2 {
	font-size: 45px;
}
h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}
/* OLD and NEW stuff */
.stuff{
	display:flex;
	justify-content:center;
}
.cards {
	height: 200px;
	display: inline-block;
	background-color: white;
	color: white;
	border: 2px solid red;
	width: 48%;
	float:none;
	margin: 8px;
}

/*Contact Info 
-------------------*/
footer {
	background: #253237;
}
.contact-list {
	list-style-type: none;
	padding: 0;
}
.contact-list a {
	padding: 15px;
	display: inline-block;
}

/* Responsive 
--------------------*/
@media screen and (min-width:767px){
	header, footer {
		text-align: center;
	}
	
	.contact-list {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width:768px){
	h1 {
		font-size: 75px;
		line-height: 0.9;
		margin-bottom: 20px;
	}
	h2 {
		line-height: 1;
	}
    .stuff{
    	display:block;
    	width:auto;
    	justify-content:center;
    	align-items: center;
    }
    .cards {
		display: inline-block;
		width: 97%;
	}
	.contact-list a {
		padding: 5px;
	}
} 
/*@media screen and (min-width:769px) and (max-width:995px){
	.cards {
		display: inline-block;
		width: 47%;
		float:left;
		margin: 8px;
    }
} */
