/*
Color Palette
https://coolors.co/f87666-253237-5adbff-ffd07b-c08497
#F87666 - Bittersweet
#253237 - Gunmetal
#5ADBFF - Sky Blue Crayola
#FFD07B - Orange Yellow Crayola
#C08497 - Puce
---
#1C0B19 - Xiketic
#140D4F - Midnight Blue
#4EA699 - Polished Pine
#2DD881 - Emerald
#6FEDB7 - Medium AquaMarine
*/

/*Global Styles 
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	color: #253237;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
img {
	width: 300px;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 100px;
	line-height: 1;
}
h2 {
	font-size: 45px;
}
h1, h2 {
	font-family: 'Caveat', cursive;
	font-weight: 400;
	margin: 0;
}
.content-wrap {
	width: 900px;
	margin: 0 auto;
	padding: 60px 0;
}	
/*Profile
-------------------*/	
header {
	background: #5ADBFF;
	color: #253237;
}

/*Projects
-------------------*/
.projects {
	background: #C08497;
}
.projects a {
	color: #5ADBFF;
}
.projects .btn {
	color: #5ADBFF ;
	background: #253237;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}
.projects .btn:hover {
	background: rgba(37,50,55,80%)
}
.project-item {
	overflow: hidden;
	border-bottom: 1px dashed #253237;
	padding: 25px 0;
}
.project-item img {
	float: left;
	margin-right: 20px;
}
.project-item h3 {
	margin-top: 0;
}
/*Work Experiences
-------------------*/
.work-experience {
	background: #F87666;
}

/*Education
-------------------*/


/*Contact Info 
-------------------*/
footer {
	background: #FFD07B;
}
