/*
Color Palette
https://coolors.co/f87666-253237-5adbff-ffd07b-c08497
#F87666 - Bittersweet
#253237 - Gunmetal
#5ADBFF - Sky Blue Crayola
#FFD07B - Orange Yellow Crayola
#C08497 - Puce
---
#1C0B19 - Xiketic
#140D4F - Midnight Blue
#4EA699 - Polished Pine
#2DD881 - Emerald
#6FEDB7 - Medium AquaMarine
*/

/*Global Styles 
-------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	color: #253237;
	margin: 40px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
h1 {
	background-color: aqua;
}

main ul{
	border-top:2px solid black;
	background-color: gray;
	color: white;
	list-style-type:none;
	overflow:hidden;
}
main ul li:last-of-type{
	padding:0 0 0 30px;
}
main ul li:first-of-type{
	background-color: black;
	display: inline-block;
	width:100%;
}
.disappear{
	display:none;
}
footer {
	background-color: grey;
}
.fab {
	background-color: green;
	size: 190px;
}