html {
	font-family: 'Stardos Stencil', cursive;
}

body {
	background-color:#1F422B;
}

nav {
	background-color:#0F0E0E;
	display:flex;
	justify-content:space-around;
	padding:15px;
}
nav a{
	text-decoration:none;
	color:#C8E320;
}

nav a:hover{
	border-bottom:1px solid white;
	transition:border-color 1s ease;
}

main {
	display:flex;
	justify-content:center;
}

main p{
	border:1px solid black;
	padding:20px;
	border-radius:12px;
	background-color:beige;
	display:flex;
	justify-content:center;
}

.footer{
	border-top:1px solid grey;
	display:flex;
	justify-content:center;
	margin:20px 15% 0px 15%;
}
